/* адаптив */

@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .logotype {
        width: 100px;
        height: 40px;
    }

    .order_btn {
        border-radius: 30px;
        padding: 5px 20px 5px 20px;
    }

    .menu {
        white-space: nowrap
    }

    .menu li a {
        font-size: 14px;
    }

    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 16px;
        padding-top: 160px;
    }
    .voda_main_img {
        width: 960px;
        height: 430px;
    }
    .katalog_btn {
        margin-left: 640px;
    }
    .card_2, .card_3 {
        padding-left: 130px;
    }
    .world_p {
        font-size: 26px;
        white-space: nowrap;
    }
    .circle_img {
        padding-top: 45px;
        padding-left: 670px;
    }
    .read_more_btn {
        margin-top: 30px;
    }
    .kak_rabotaet_img {
        width: 960px;
    }
    .under_akcii_p {
        white-space: nowrap;
    }
    .under_headline_p {
        white-space: nowrap;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .nashe_p {
        width: 385px;
    }
    .menu {
        padding-left: 10px;
    }
    .phone_header {
        padding-left: 200px;
    }
    .katalog_btn {
        margin-left: 400px;
    }
    h2 {
        padding-top: 130px;
        font-size: 14px;
    }
    .card_2, .card_3 {
        padding-left: 30px;
    }
    .voda_main_img {
        width: 720px;
        height: 350px;
    }
    .kachestvo_img {
        margin-left: 50px;
    }
    .world_p_p {
        padding-left: 100px;
        font-size: 26px;
    }
    .under_world_p_p {
        padding-left: 100px;
    }
    .order_btn_2 {
        margin-left: 100px;
    }
    .nashe_p{
        font-size: 14px;
    }
    .under_world_p {
        font-size: 14px;
    }
    .under_world_p_p {
        font-size: 14px;
    }
    .basket {
        padding-left: 140px;
    }
   
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }

    .phone_header {
        padding-left: 40px;
        padding-top: 40px;
        font-size: 24px;
    }

    .katalog_btn {
        margin-left: 225px;
    }

    .phone_header:hover {
        font-size: 24px;
    }

    .card_2 {
        padding-left: 130px;
    }

    .card_3 {
        display: none;
    }

    .circle_img {
        display: none;
    }

    .world_p, .under_world_p {
        margin-left: 0px;
        padding-left: 0px;
    }

    .read_more_btn {
        margin-left: 0px;
    }

    .water {
        display: block;
        margin-left: 10px;
    }

    .water_cup_img {
        height: 300px;
        padding-left: 0px;
        margin-left: 0px;
        padding: 0;
    }

    .line {
        width: 100%;
    }

    .voda_main_img {
        width: 540px;
        height: 250px;
    }

    .voda_h1_h2 {
        display: block;
    }

    h1 {
        font-size: 80px;
    }

    h2 {
        padding-top: 20px;
        padding-left: 0px;
        font-size: 16px;
    }

    .world_p_p, .under_world_p_p {
        padding-left: 0px;
    }

    .order_btn_2 {
        margin-left: 0px;
    }

    .kachestvo_img {
        width: 140px;
        height: 70px;
    }

    .basket {
        padding-left: 0px;
    }

    .the_form {
        display: block;
    }
    
    .postcard {
        margin-left: 0px;
        margin-top: 110px;
        padding: 0;
    }

    .menu-burger_header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;
    }

    .menu-burger_header span, .menu-burger_header:after, .menu-burger_header:before {
        height: 2px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }

    .menu-burger_header span {
        top: 20px;
    }

    .menu-burger_header:after, .menu-burger_header:before {
        content: '';
    }
    .menu-burger_header:after {
        bottom: 0px;
    }
    .menu-burger_header:before {
        top: 5px;
    }
    
    .nav_nav {
        display: block;
        position: absolute;
        padding-top: 50px;
        top: 105px;
        left: 0;
        background: #ffffff;
        width: 100%;
        height: 100%;
        left: -100%;
        transition: all 0.4s ease;
    }

    .nav {
        display: block;
    }


    .logotype {
        margin-left: 30px;
    }

    .order_btn {
        margin-top: 30px;
        margin-left: 30px;
    }

    .menu {
       display: block;
    }

    .menu li {
        margin: 40px 0px 40px 33px;
    }

    .menu li a {
        font-size: 24px;
    }

    .menu li a:hover {
        font-size: 32px;
    }

    .menu li.active a {
        font-size: 32px;
    }

    .nav_nav.open-menu {
        left: 0;
    }

    .order_btn {
        font-size: 24px;
    }

    .logotype {
        width: 140px;
        height: 70px;
    }
    
    .menu-burger_header.open-menu span {
        opacity: 0;
        transition: 0.5s;
    }
    
    .menu-burger_header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }

    .menu-burger_header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }

    .fixed-page {
        overflow: hidden;
    }
}
