.akcii {
    display: flex;
}

.akcii_p {
    color: #002D5C;
    font-size: 80px;
    font-weight: 200;
    line-height: 100%;
    padding-top: 60px;
}

.under_akcii_p {
    padding-top: 165px;
    padding-left: 215px;
    color: #848484;
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .logotype {
        width: 100px;
        height: 40px;
    }
    .card_3 {
        display: none;
    }
    .nashe_p {
        width: 385px;
    }
    .menu {
        padding-left: 10px;
    }
    .phone_header {
        padding-left: 200px;
    }
    .katalog_btn {
        margin-left: 400px;
    }
    .akcii {
        display: block;
    }
    .under_akcii_p {
        padding-top: 30px;
        padding-left: 0px;
    }
    .basket {
        padding-left: 140px;
    }
    .order_btn {
        padding: 5px 20px 5px 20px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    .headline {
        display: block;
    }
    .under_headline_p {
        padding-left: 0px;
        padding-top: 30px;
    }
    .line {
        width: 100%;
    }
    .card_3 {
        display: none;
    }

    .circle_img {
        display: none;
    }
    .phone_header {
        padding-left: 40px;
    }
    .order_btn {
        padding: 5px 20px 5px 20px;
    }
    .basket {
        padding-left: 0px;
    }


}